/*
Table Of Contents

# BRANDING
  
  dark: rgb(48,46,59);
  grey: #7e7c87 rgb(126,124,135);
  soft orange: #dfba73
  teal: #c5dbe8
  dark cyan: #479997 
  salmon: #c98474;

# TYPOGRAPHY
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;



/*
* ==========================================================
*     BRANDING 
* ==========================================================
*/
:root {
  /*colors*/
  --ss-dark: #302e3b;
  --ss-grey: #7e7c87;
  --ss-teal: #c5dbe8;
  --ss-darkcyan:#479997;
  --ss-softorange: #dfba73;
  --ss-salmon: #c98474;
 

  /*typography*/
  --ss-heading: font-family: 'Raleway', sans-serif;
  --ss-body: font-family: 'Open Sans', sans-serif;
  
}

/*
*==========================================================
*     TYPOGRAPHY 
* ==========================================================
*/

html, body {
  overflow-x: hidden;
}
body {
  font-family: var(--ss-body);
  background: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--ss-grey);
  /* color: #0a145a; */
}
.h1, h1 {
  font-size: 2.75rem;
  text-transform: uppercase;
}
p {
  color: var(--ss-grey);
  font-size: 1rem;
  line-height: 1.5;
}
a:link, a:visited {
  color: var(--ss-salmon);
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
  color: var(--sw-indigoblue);

}



/*
* ==========================================================
*     HEADER 
* ==========================================================
*/
header nav a {
  font-family: var( --ss-body);
  font-weight: 600;
  color: var(--ss-grey)!important;
  transition: color .5s ease-in-out;
  text-transform: uppercase;
  font-size: .86rem;
}

header nav a:hover {
  color: var(--ss-salmon)!important;
}
.ss-background {
  background: #fff;
}

button.navbar-toggler {
  border: none;
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: var(--ss-teal)!important;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

/*
* ==========================================================
*     MASTHEAD
* ==========================================================
*/
.masthead.image-masthead {
  background-image: url('../img/masthead-workouts.jpg');
  background-color: #222533;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 550px;
  color: #fff;
}
.masthead, .masthead * {
  box-sizing: border-box;
}

.masthead {
  position: relative;
  border-bottom: 1px solid #e7edef;
}

.masthead.image-masthead .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100%;
}

.masthead.image-masthead .eyebrow {
  padding-bottom: 5px;
  padding-left: 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: .042em;
  font-size: 1.25rem;
}

h1.heading {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}
.masthead-text p {
  color: #fff;
}

a.easing img {
  width: 40px;
  height: 40px;
  margin-top: 110px;
  animation-name: bounce;
  animation: bounce 3s infinite;
  transition: all 0.3s ease-in-out;
  opacity: .7;
}

/*
* ==========================================================
*     LAYOUT
* ==========================================================
*/
section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.center_title {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.service-row {
  padding-top: 45px;
}
.rounded-circle {
  border-radius: 50%!important;
  border: 5px solid #c5dbe8;
  padding: 6px;
  box-sizing: border-box;
}
.media-body {
  position: relative;
  text-align: center;
}

.media-title {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 25px;
  right: 0;
  bottom: 0;
  top: 10px;
  transition: .5s ease;
  background-color: rgba(201,132,116,0.9);
  border-radius: 50%;
  
}

.media-title .text {
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.media-title .text h2,
.media-title .text p {
  color: white;
}

.media-title .text p {
  padding-top: 10px;
  border-top: 1px solid;
  font-style: italic;
}

.media-body:hover .media-title {
  background-color: rgba(201,132,116,0.5);
  
}

/* Media Hover Hover for - Second Media Item */

.variety {
  width: 300px;
  height: 300px;
  position: absolute;
   
  right: 0;
  bottom: 0;
  top: 10px;
  transition: .5s ease;
  background-color: rgba(126,124,135,0.9);
  border-radius: 50%;
 
}

.variety .text {
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.variety .text h2,
.variety .text p {
  color: white;
}

.variety .text p {
  padding-top: 10px;
  border-top: 1px solid;
  font-style: italic;
}

.media-body .variety {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 25px;
  right: 0;
  bottom: 0;
  top: 10px;
}
.media-body .variety:hover .media-title {
  background-color: rgba(201,132,116,0.5);
  
}


/* Media Hover Hover for - Third Media Item */

.community {
  width: 300px;
  height: 300px;
  position: absolute;
 
  right: 0;
  bottom: 0;
  top: 10px;
  transition: .5s ease;
  background-color: rgba(48,46,59, 0.9);
  border-radius: 50%;
  
}

.community  .text {
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.community .text h2,
.community .text p {
  color: white;
}

.community .text p {
  padding-top: 10px;
  border-top: 1px solid;
  font-style: italic;
}
.media-body .community:hover .media-title {
  background-color: rgba(201,132,116,0.5);
}
#why-thesweatshoppe .btn-primary {
  color: white;
}

section#workouts .row + .row {
  margin-top: 35px;
   
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48,46,59, 0.9);

}
section#workouts h1,
section#workouts p.lead {
  color: var(--ss-grey);
  position: relative;
  z-index: 9;
}
.dotted-line {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 35px;
  z-index: 9;
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
}
.dot.dot-two {
  margin-left: 15px;
  margin-right: 15px;
}

.card {
  border-radius: 0;
}

.card-body {
  text-align: center;
}

